body {
  background-color: black;
}

h1 {
  font: bold 5em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
  size: 50px;
  color: white
}

table {
  /* border: 1px solid black; */
  font-size: 35px;
  margin: auto;
  margin-top: 10px;
}

td {
  color: white;
}

.user-input {
  text-align: center;
}

.todo_item_completed {
  text-decoration: line-through;
  color: #00ff00;
}
