body {
  background-color: #33A5FF
}

h1 {
  font: bold 5em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
  size: 50px;
}

table {
  border: 1px solid black;
}

.user-input {
  text-align: center;
}

.todo_item_completed {
  text-decoration: line-through;
}
